.main-port{
    h1{
        padding: 25px;  
        text-align: center;
    }
}

/*Estilo Mobile*/
@media (max-width: 480px){
    .portafolio{
        padding: 25px;
        .img{
            margin-bottom: 15px;
            .vertical{
                margin-left: 10%;
            }
        }
    }
}

/*Estilo Tablet*/
@media (min-width:480px) and (max-width: 900px)  {
    .main-port{
        overflow-x: hidden;
        margin-bottom: 15%;
        .port{
            .portafolio{
                padding: 25px;
                .img{
                    margin-left: 160px;
                    margin-bottom: 15px;
                    margin-right: 0px;
                    max-width: 100%;
                }
                .vertical{
                    margin-left: 225px !important;
                }
            }
        }
        
    }
}

/*Estilo Desktop*/
@media (min-width: 992px){
    .main-port{
        margin-bottom: 97px;
        .portafolio{
            padding: 25px;
            .img{
                margin-top: 15px;
                margin-bottom: 15px;
                &:hover{
                    scale: 1.1;
                    transition: 0.5s;
                }
            
                .vertical{
                    margin-left: 70px;
                }
            }
        }
    }
}